<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Form</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/scripts.js" defer></script>

</head>
<body>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/stores}">Stores</a>
        <a th:href="@{/customers}">Customers</a>
        
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
            <a th:href="@{/manager/dashboard}" th:text="${#authentication.name}"></a>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a href="@{/manager-login}">Manager Login</a>
        </div>
        
        <button id="theme-button" onclick="toggleTheme()">🌙</button>
    </nav>
    <h1>Customer Form</h1>
    <form th:action="@{/customers}" th:object="${customer}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Name:</label>
        <input type="text" th:field="*{name}" required />

        <label>Email:</label>
        <input type="email" th:field="*{email}" required />

        <label>Telephone:</label>
        <input type="text" th:field="*{telephone}" required/>

        <label>Date of Birth:</label>
        <input type="date" th:field="*{dateOfBirth}"  required>
        <label>Total Spent:</label>
        <input type="number" step="0.01" th:field="*{totalSpent}" />

        <label>Frequent Store:</label>
        <select th:field="*{frequentStore}" required>
            <option value="" disabled selected>Select a store</option>
            <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.location}"></option>
        </select>

        <input type="submit" value="Save" />
    </form>
</body>
</html>